body{
background-color: aquamarine;
margin: 50px;
}

h1{
	background-color: blue;
	color: crimson;
	margin: 15px;
	top: 10px;
	margin-left: 60px;
    padding: 5px;
    border: 0;
    font-size: 100%;
    font: inherit;
	font-size: large;
    vertical-align: baseline;
	right: 300px;
}

#first1{ font-size: 20px;
	font-family:cursive;

}
 #secound2p{
	font-family: 'Otomanopee One', sans-serif;
 }